* {
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body {
	height: 100%;
}

html {
	font-size: 100px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

// iPhone4/5
@media (max-width: 320px) {
	html {
		font-size: 85.3333px;
	}
}

// iPhone 6
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	html {
		font-size: 100px;
	}
}

// iPhone 6 +
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
	html {
		font-size: 110.4px;
	}
}

body {
	overflow: hidden;
	font-size: .14rem;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.intro {
	position: absolute;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.8);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #fff;
	padding: .6rem .3rem;
	text-align: center;
}

.intro1 {
	width: 2.6rem;
	height: 1.09rem;
}

.intro .close {
	position: absolute;
	width: .22rem;
	height: .22rem;
	right: .3rem;
	top: .3rem;
}

.intro .close:after,
.intro .close:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	left: 0;
	top: 0;
	background-color: #fff;
}

.intro .close:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.intro .close:before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.intro h2 {
	margin-bottom: .2rem;
	text-align: left;
	font-size: .18rem;
}

.intro p {
	margin-bottom: .16rem;
	text-align: left;
}

.intro img {
	width: 100%;
	margin-bottom: .3rem;
}

.intro .intro2 {
	width: 50%;
	text-align: center;
}

.intro .know {
	display: inline-block;
	margin-top: .2rem;
	padding: .07rem .12rem .07rem .14rem;
	border: 1px solid #fff;
	border-radius: 2px;
	text-decoration: none;
	color: #fff;
}

.weui_uploader_input_wrp {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 77px;
	height: 77px;
	border: 1px solid #D9D9D9;
	z-index: 50;
}

.weui_uploader_input_wrp:before,
.weui_uploader_input_wrp:after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #D9D9D9;
}

.weui_uploader_input_wrp:before {
	width: 2px;
	height: 39.5px;
}

.weui_uploader_input_wrp:after {
	width: 39.5px;
	height: 2px;
}

.weui_uploader_input_wrp:active {
	border-color: #999999;
}

.weui_uploader_input_wrp:active:before,
.weui_uploader_input_wrp:active:after {
	background-color: #999999;
}

.weui_uploader_input {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#game-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	/* background */
	// background-size: 100% 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
}

#game-container img {
	position: absolute;
	height: 100%;
	// width: 100%;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	vertical-align: bottom;
}

.prop {
	position: absolute;
	// left: 0;
	// top: 0;
	display: none;
	z-index: 100;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

.prop img {
	vertical-align: bottom;
}

.prop.money img{
	width: 2.7rem;
	// width: 270px;
}

.prop.coin img{
	width: 1.5rem;
	// width: 150px;
}

.prop.clip img{
	width: .55rem;
	// width: 55px;
}

.change-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .1);
	z-index: 199;
	display: none;
}

.change-prop {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.6rem;
	padding-top: .5rem;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .7) 20%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .7));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .7) 20%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .7));
	-webkit-transform: translate3d(0, 100%, 0);
	-webkit-transition: -webkit-transform .4s ease-out;
	transition: -webkit-transform .4s ease-out;
	transition: transform .4s ease-out;
	transition: transform .4s ease-out, -webkit-transform .4s ease-out;
	z-index: 200;
}

.change-prop.open {
	display: block;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.change-prop .opre {
	height: .5rem;
	position: relative;
	top: -.5rem;
}

.change-prop .opre span {
	position: absolute;
	padding: .1rem 0;
	text-transform: uppercase;
	line-height: .3rem;
	font-size: .24rem;
}

.change-prop .opre .cancel {
	left: .15rem;
	color: #999;
}

.change-prop .opre .ok {
	right: .15rem;
	color: #057aff;
}

.prop-name {
	position: absolute;
	top: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	// height: 70%;
	max-height: 70%;
	width: 30%;
	overflow-y: auto;
}

.prop-name li {
	width: 100%;
	font-size: .2rem;
	color: #666;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.prop-name li.active {
	color: #000;
}

.prop-thumbnail {
	position: absolute;
	width: 70%;
	right: .15rem;
	top: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	list-style: none;
	opacity: 0;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}
.prop-thumbnail.active {
	opacity: 1;
	z-index: 200;
}

.prop-thumbnail.money img {
	width: 2.14rem;
}

.prop-thumbnail.coin img {
	width: 1.1rem;
}

.prop-thumbnail.clip img {
	width: .4rem;
}
